* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #4343F9;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

button {
  width: 240px;
  height: 360px;
  background-color: #4343F9;
  color: #FFF;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);
  border: none;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);

}

.middle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}